.header
{
    position: relative;
}
.header_opened + .sitemap
{
    display: flex;
    flex-wrap: wrap;
}
/* Hide all siblings then sitemap is shown */
.header_opened ~ div,
.header_opened ~ footer
{
    display: none;
}

@media all and (max-width: 780px)
{
    .header_opened
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .header.header_opened + .sitemap
    {
        top: 52px;

        display: block;

        transform: translate3d(0, 100%, 0);

        opacity: 0;
    }

    .header_opened.header_focused .header__menu .nav,
    .header_opened.header_focused .header__menu .breadcrumbs
    {
        display: none;
    }

    .header__menu
    {
        position: absolute;
        z-index: 1;

        width: 100%;
        height: auto;
        padding: 0 0 30px;

        transition: all 0.3s ease-in-out;
        transform: translate3d(0, -120%, 0);

        opacity: 0;
        border-top: 0;
        background: inherit;
    }

    .header_opened .header__menu
    {
        top: 49px;

        transform: none;

        opacity: 1;
    }

    .header_opened .header__layout
    {
        display: none;
    }

    .header_opened.header_focused + .sitemap
    {
        transform: none;

        opacity: 1;
    }
}
