.breadcrumbs
{
    font-size: 17px;

    position: absolute;
    top: 0;
    left: 81px;

    display: inline-block;

    padding: 0;

    vertical-align: top;

    background: inherit;
}

.breadcrumbs__item
{
    display: inline-block;

    margin: 0 10px 0 0;
    padding: 0;

    letter-spacing: 1px;

    color: #fff;
}

.breadcrumbs__item::after
{
    margin-left: 11px;

    content: '/';

    color: rgba(255, 255, 255, 0.55);
}

.breadcrumbs__item:last-child::after
{
    display: none;
}

.breadcrumbs__link
{
    transition: color 0.3s;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.55);
}

.breadcrumbs__link:hover
{
    color: #fff;
}

/*tablet*/
@media all and (max-width: 780px)
{
    .breadcrumbs
    {
        position: static;

        display: block;

        width: 70%;
        margin: 15px auto 0;
        padding: 10px 28px;
    }
}

@media all and (max-width: 480px)
{
    .breadcrumbs
    {
        box-sizing: border-box;
        width: 100%;
        margin: 5px 8px 0;
        padding: 0;
    }

    .breadcrumbs__item
    {
        margin: 0;
        padding: 10px 5px 0;
    }
}
